.posts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .post_item {
      display: flex;
      flex-direction: row;
      color: rgb(0,0,0);
      text-decoration: none;
      gap: 8px;
      .name {
        order: 2;
        font-weight: 600;
      }
      .date {
        order: 1;
      }
      &:hover {
        text-decoration: underline;
      }

    }
  } 
