body[location='blog_post'] {
    .date {
      text-align: center;
      font-size: 18px;
      color: rgb(160,160,160);
    }
  }

  .posts h2 {
    font-size: 1.5rem;
    color: rgb(90, 96, 151);
  }