---
- name: Invalidate CloudFront Cache
  hosts: localhost
  gather_facts: false
  vars_files:
    - vaults/prod.yml
  tasks:
    - name: Get CloudFront Distribution ID from stack outputs
      amazon.aws.cloudformation_info:
        aws_access_key: "{{ AWS_ACCESS_KEY_ID }}"
        aws_secret_key: "{{ AWS_SECRET_ACCESS_KEY }}"
        region: "{{ AWS_REGION }}"
        stack_name: "{{ STACK_NAME }}"
      register: stack_info

    - name: Extract CloudFront Distribution ID from outputs
      set_fact:
        cloudfront_distribution_id: "{{ stack_info.stacks[0].outputs | selectattr('OutputKey', 'equalto', 'CloudFrontDistributionId') | map(attribute='OutputValue') | first }}"
      when: stack_info.stacks | length > 0 and stack_info.stacks[0].outputs is defined

    - name: Fail if distribution ID not found
      ansible.builtin.fail:
        msg: "Could not find CloudFrontDistributionId in stack {{ STACK_NAME }} outputs. Make sure the stack is deployed and has outputs."
      when: cloudfront_distribution_id is not defined

    - name: Create CloudFront invalidation
      community.aws.cloudfront_invalidation:
        region: "{{ AWS_REGION }}"
        aws_access_key: "{{ AWS_ACCESS_KEY_ID }}"
        aws_secret_key: "{{ AWS_SECRET_ACCESS_KEY }}"
        distribution_id: "{{ cloudfront_distribution_id }}"
        target_paths:
          - "/*"
        caller_reference: "{{ lookup('pipe', 'date +%s') }}"
      register: invalidation_result

    - name: Display invalidation ID
      ansible.builtin.debug:
        msg: "Invalidation created with ID: {{ invalidation_result.invalidation.id }}"